body {
    display: flex;
    justify-content: center;
    align-items: center;
}

:global {
    .color {
        color: #ff0;
    }
}

.container {
    text-align: center;
    img {
        margin: 0 auto;
    }
    h2 {
        text-align: center;
    }
}