{
  "presets": [
    "react"
  ],
  "plugins": [
    "transform-react-jsx",
    "react-hot-loader/babel",
    [
      "import",
      {
        "libraryName": "antd",
        "style": "css"
      }
    ]
  ]
}
