{
  "presets": [
    "react",
    "stage-2",
    "es2015"
  ],
  "plugins": [
    "transform-react-jsx",
    [
      "transform-runtime",
      {
        "helpers": false,
        "polyfill": false,
        "regenerator": true,
        "moduleName": "babel-runtime"
      }
    ],
    [
      "import",
      {
        "libraryName": "antd",
        "libraryDirectory": "lib",  // default: lib
        "style": "css"
      }
    ]
  ]
}
