.editor {
    width: 100%;
    min-height: 250px;
    border: none;
    outline: none;
    padding: 7px 10px;
    resize: none;
    font-size: 18px;
}

.preview {
    padding: 7px 24px;
}

.actions {
    margin-top: 25px;
}