.menuBox {
    width: 240px;
    height: 100%;
    background: rgba(#404040, 1);
    transition: width .3s ease;

    &.min {
        width: 64px;
    }

    .headerBox {
        height: 100px;
        padding: 25px 0;
        line-height: 50px;
        text-align: center;
        font-size: 22px;
        color: #fff;
    }
}